.navbar{ background:#F97300;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: #f97300; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}
.bg-primary{background-color:#007bff!important;}

.header{
/* background-image: url('../images/cover.jpg'); */
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}

.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: #F0EAEA;
/* background: rgba(244, 244, 244, 0.8); */
}

.description{
  /*  position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em; */
    position: absolute;
    left: 10em;
    margin: 10em; 
    padding: 10em; 
}
.description h1{
 color:#F97300 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
}

.about, .lr{
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
.about h1, .lr h1{
 color:#F97300;
 margin: 1em; 
 margin-top: 0;
}
.about img{
 height: 100%;
 width: 75%;
 border-radius: 50%
}
.about span{
 display: block;
 color: #10828C; 
 position: relative;
 left: 37.5%; 
}
.about .desc{
 padding: 2em;
 border-left:4px solid #10828C;
}
.about .desc h3{
 color: #10828C;
}

.about-info{
	position: relative;
	margin: 5em;
}
.about .desc p{
 line-height:2;
 color:#10828C;
 font-size: 2em;
}

.lr_wrapper{
	margin: 1em auto;
	padding: 0.5em;
}

.lr_wrapper img{
  height: 50%;
  width: 100%;
  margin: 1em;
}

.footer{
	background: #DCD9D9;
    text-align: center;
    padding: 3em;
    color: #FFF;
}

.pfoot{
	font-size: 1em;
	color: rgba(45, 45, 45, 0.9);
}

}
.lr .card-body{
 padding: 1em;
}

@media (max-width: 1115px){
.description{
	position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
}